@charset "UTF-8";

body{
    background-color: rgb(230, 206, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
 }
 h1{
color: rgb(0, 0, 0); text-align: center;

 }

 h2{
color: rgb(87, 87, 87);

 }

 p{
    text-align: justify;
 }

 li::after{[feito]}
 
 